@font-face {
  font-family: 'PressStart2P';
  src: url('https://fonts.gstatic.com/s/pressstart2p/v12/e3t4euO8T-267oIAQAu6jDQyK3nQGrM.woff2')
    format('woff2');
}

.font-arcade {
  font-family: 'PressStart2P', monospace;
}

.loading-text {
  font-size: 0.75rem; /* base size (12px) */
  color: #facc15;
  text-shadow:
    0 0 1px rgba(250, 204, 21, 0.3),
    0 0 2px rgba(250, 204, 21, 0.4);
  background-color: rgba(255, 255, 0, 0.02);
  padding: 10px 18px;
  border: 1px solid rgba(250, 204, 21, 0.5);
  box-shadow: 0 0 3px rgba(250, 204, 21, 0.2);
  border-radius: 4px;
  max-width: 100%;
  word-break: break-word;
}

.box-glow {
  box-shadow: 0 0 2px rgba(250, 204, 21, 0.4);
}

.progress-number {
  font-size: 0.75rem;
  color: #facc15;
  text-shadow: 0 0 1px rgba(250, 204, 21, 0.3);
}
